<!-- ratings -->
<div class="container-fluid bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto text-center">
        <h1>No lo decimos nosotros, lo dicen nuestros usuarios 😎</h1>
        <p class="fs-5 fw-bold">Por si todavía tienes dudas, tenemos una media de 4.4⭐️ en las principales tiendas de aplicaciones</p>
      </div>
    </div>
    <div class="row row-cols-3">
      <div class="col-lg-4 col-12 my-2">
        <div class="p-4 border-1 border rounded-4 d-flex flex-column gap-2 h-100 bg-white">
          <div class="d-flex flex-row text-warning gap-2 fs-4">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <div class="text-secondary fw-normal">_Riii, 26/10/2021</div>
          <div class="text-dark fw-bold fs-5">Genial!!</div>
          <div class="text-secondary fw-light line-clamp-4">Pensaba que seria otra app para pedir comida a domicilio
            pero no, he descubierto que puedo pedir directamente a los restaurantes sin necesidad de pasar por
            glovo, uber o justeat… y he conseguido ahorrarme 6,50€ en mi pedido. La recomiendo y la seguiré usando.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 my-2">
        <div class="p-4 border-1 border rounded-4 d-flex flex-column gap-2 h-100 bg-white">
          <div class="d-flex flex-row text-warning gap-2 fs-4">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <div class="text-secondary fw-normal">Paola de G, 19/10/2021</div>
          <div class="text-dark fw-bold fs-5">Ya era hora!!!!</div>
          <div class="text-secondary fw-light line-clamp-4">Pido comida a domicilio como 5 o 6 veces por semana y llevo usando esta app 2 meses. Quise hacer el calculo del ahorro que he consigo usándola y llevo ahorrados cerca 120€ tan solo comparando gastos de envío y promociones. Ahí lo dejo… solo tengo que decir…Gracias!!!
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 my-2">
        <div class="p-4 border-1 border rounded-4 d-flex flex-column gap-2 h-100 bg-white">
          <div class="d-flex flex-row text-warning gap-2 fs-4">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <div class="text-secondary fw-normal">MaSaPra, 14/04/2022</div>
          <div class="text-dark fw-bold fs-5">Me encanta!!!</div>
          <div class="text-secondary fw-light line-clamp-4">Pensaba que seria otra app para pedir comida a domicilio
            pero no, he descubierto que puedo pedir directamente a los restaurantes sin necesidad de pasar por
            glovo, uber o justeat… y he conseguigo ahorrarme 6,50€ en mi pedido. La recomiendo y la seguiré usando.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 my-2">
        <div class="p-4 border-1 border rounded-4 d-flex flex-column gap-2 h-100 bg-white">
          <div class="d-flex flex-row text-warning gap-2 fs-4">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <div class="text-secondary fw-normal">Juank Estelrich, 22/04/2022</div>
          <div class="text-dark fw-bold fs-5">Super útil y fácil de utilizar</div>
          <div class="text-secondary fw-light line-clamp-4">
            Muy recomendable. Es una app muy práctica que permite ahorrar tiempo y dinero. Un 5/5!!
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 my-2">
        <div class="p-4 border-1 border rounded-4 d-flex flex-column gap-2 h-100 bg-white">
          <div class="d-flex flex-row text-warning gap-2 fs-4">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <div class="text-secondary fw-normal">David.zafra.spain, 21/06/2022</div>
          <div class="text-dark fw-bold fs-5">Fácil y sencilla</div>
          <div class="text-secondary fw-light line-clamp-4">Funciona muy bien, me ayuda a saber donde comprar por
            rapidez y precio. </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 my-2">
        <div class="p-4 border-1 border rounded-4 d-flex flex-column gap-2 h-100 bg-white">
          <div class="d-flex flex-row text-warning gap-2 fs-4">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <div class="text-secondary fw-normal">DrMali, 30/03/2021</div>
          <div class="text-dark fw-bold fs-5">Muy buena app</div>
          <div class="text-secondary fw-light line-clamp-4">la app funciona muy bien. Es muy útil.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 my-2">
        <div class="p-4 border-1 border rounded-4 d-flex flex-column gap-2 h-100 bg-white">
          <div class="d-flex flex-row text-warning gap-2 fs-4">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <div class="text-secondary fw-normal">David AC., 10/06/2021</div>
          <div class="text-dark fw-bold fs-5">App brutal</div>
          <div class="text-secondary fw-light line-clamp-4">Gracias! esto soluciona un dolor de cabeza cada vez que
            queriamos pedir comida en casa!!! comparativa excelente de todos los servicios con sus ofertas, el tiempo de
            llegada y los costes!</div>
        </div>
      </div>
      <div class="col-lg-4 col-12 my-2">
        <div class="p-4 border-1 border rounded-4 d-flex flex-column gap-2 h-100 bg-white">
          <div class="d-flex flex-row text-warning gap-2 fs-4">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <div class="text-secondary fw-normal">Alba Hervas, 14/10/2020</div>
          <div class="text-dark fw-bold fs-5">Perfecta!</div>
          <div class="text-secondary fw-light line-clamp-4">Esta genial! Con las aplicaciones tipo Just eat no puedo ver
            todos los restaurantes de mi localidad, aquí los tengo todos! </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 my-2">
        <div class="p-4 border-1 border rounded-4 d-flex flex-column gap-2 h-100 bg-white">
          <div class="d-flex flex-row text-warning gap-2 fs-4">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <div class="text-secondary fw-normal">David Mundo, 20/06/2022</div>
          <div class="text-dark fw-bold fs-5">Top</div>
          <div class="text-secondary fw-light line-clamp-4">Si eres de los que pide comida a domicilio, te la recomiendo, puedes comparar todos los servicios de delivery sabiendo con cual te costará menos.
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 my-2">
        <div class="p-4 border-1 border rounded-4 d-flex flex-column gap-2 h-100 bg-white">
          <div class="d-flex flex-row text-warning gap-2 fs-4">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <div class="text-secondary fw-normal">mariaazo, 25/02/2022</div>
          <div class="text-dark fw-bold fs-5">La app que uso para delivery</div>
          <div class="text-secondary fw-light line-clamp-4">Sin lugar a dudas Delitbee la mejor app para cuando quiero pedir delivery. Ahorro asegurado. La recomiendo a todo el mundo!</div>
        </div>
      </div>
      <div class="col-lg-4 col-12 my-2">
        <div class="p-4 border-1 border rounded-4 d-flex flex-column gap-2 h-100 bg-white">
          <div class="d-flex flex-row text-warning gap-2 fs-4">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <div class="text-secondary fw-normal">lalcanda, 24/02/2022</div>
          <div class="text-dark fw-bold fs-5">Muy top!!</div>
          <div class="text-secondary fw-light line-clamp-4">Me parece muy útil poder comparar las opciones de comida e incluso pedirle directamente al restaurante. 🍕🍕🍕</div>
        </div>
      </div>
      <div class="col-lg-4 col-12 my-2">
        <div class="p-4 border-1 border rounded-4 d-flex flex-column gap-2 h-100 bg-white">
          <div class="d-flex flex-row text-warning gap-2 fs-4">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <div class="text-secondary fw-normal">Ana Taberner, 21/06/2022</div>
          <div class="text-dark fw-bold fs-5">Muy útil</div>
          <div class="text-secondary fw-light line-clamp-4">Super útil y una aplicación super completa! A mi me encanta
            :)
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <p class="fs-5 fw-bold">¿Ya lo tienes claro? Descarga ahora Delitbee y disfruta de la app que está revolucionando del mundo de la comida a domicilio</p>
      <a href="#download" class="text-white btn btn-lg btn-primary mb-5 rounded-3">Descarga Delitbee</a>
  </div>
  </div>
</div>